<div class="divbody">

  
<div class="container color-dark">
  <div class="col">
    <h2>Preduzece</h2>
  </div>
 
</div>
<div class="container color-light">
  <div class="col">
    <p class="sm">Dodavanje preduzeca.</p>

    <form>

       <mat-form-field class="matf">
    <input matInput placeholder="Naziv" name="naziv">
      </mat-form-field>

      <mat-form-field class="matf">
    <input matInput placeholder="PIB" name="pib">
      </mat-form-field>

       <mat-form-field class="matf">
    <input matInput placeholder="Email" name="email">
      </mat-form-field>

       <mat-form-field class="matf">
    <input matInput placeholder="Adresa" name="adresa">
      </mat-form-field>

      
      <div class="form-group">
        <input type="submit" class="btn" value="Submit">
      </div>
    </form>
  </div>


</div>


</div>
