<div class="divbody">

  
<div class="container color-dark">
  <div class="col">
    <h2>Poslovna godina</h2>
  </div>
 
</div>
<div class="container color-light">
  <div class="col">
    <p class="sm">Dodavanje poslovne godine.</p>


    
    <input class="form-control" type="number" placeholder="Godina" name="godina" [(ngModel)]="poslovnaGodina.godina" #godina="ngModel" >
     

      <label>Izaberite preduzece:</label><br>
 <select placeholder="Birajte Preduzece" [(ngModel)]="broj" name="selectedCenovnik" #selectedCenovnik1="ngModel">
    <option *ngFor="let preduzece of preduzeca; let i = index" [ngValue]="i">
      {{preduzece.nazivPreduzeca}}
      
    </option>
    </select>
    <br>
    <br> 
    <div class="checkbox">
      <label><input type="checkbox" [(ngModel)]="checked" name="zak" #zak="ngModel"> Zakljucena</label>
    </div>
    <button mat-raised-button (click)="addPoslovnaGodina()">
    <i class="fas fa-plus-circle">Dodaj</i></button><br><br> 
    
  </div>


</div>


</div>