<div class="divbody">

  
<div class="container color-dark">
  <div class="col">
    <h2>Poslovna godina</h2>
  </div>
 
</div>
<div class="container color-light">
  <div class="col">
    <p class="sm">Dodavanje poslovne godine.</p>

    <form>

       <mat-form-field class="matf">
    <input matInput type="number" placeholder="Godina" name="naziv">
      </mat-form-field>

      <mat-form-field>
  <mat-select placeholder="Birajte Preduzece">
    <mat-option>
      1
    </mat-option>
    <mat-option>
      2
    </mat-option>
    <mat-option>
      3
    </mat-option>
  </mat-select>
</mat-form-field>
<br>

      
    <mat-checkbox>Zakljucena!</mat-checkbox>
      


      
      <div class="form-group">
        <input type="submit" class="btn" value="Submit">
      </div>
    </form>
  </div>


</div>


</div>