<div class="divbody">

  
<div class="container color-dark">
  <div class="col">
    <h2>Poslovna godina</h2>
  </div>
 
</div>
<div class="container color-light">
  <div class="col">
    <p class="sm">Dodavanje poslovne godine.</p>

    <form name="form" (ngSubmit)="addForm.form.valid" class="register-form" #addForm="ngForm">

       <mat-form-field class="matf" [ngClass]="{ 'has-error': addForm.submitted && !godina.valid }">
    <input matInput type="number" placeholder="Godina" name="godina">
      </mat-form-field>

      <label>Izaberite preduzece:</label><br>
 <select placeholder="Birajte Preduzece" [(ngModel)]="preduzece" name="selectedCenovnik" #selectedCenovnik1="ngModel">
    <option *ngFor="let preduzece of preduzeca; let i = index" [ngValue]="i">
      {{preduzece.nazivPreduzeca}}
      
    </option>
    </select>
    <br>

<!--
      <mat-form-field>
  <mat-select placeholder="Birajte Preduzece">
    <mat-option>
      1
    </mat-option>
    <mat-option>
      2
    </mat-option>
    <mat-option>
      3
    </mat-option>
  </mat-select>
</mat-form-field>
-->
<br>

      
    <mat-checkbox>Zakljucena!</mat-checkbox>

    <br>
    <br>
      


      
      <div class="form-group">
        <input type="submit" class="btn" value="Submit">
      </div>
    </form>
  </div>


</div>


</div>