<!--The content below is only a placeholder and can be replaced.-->
<div class="divbody">

<div>
  <div class="col">
    <h2>Fakture</h2>
  </div>
 
</div>
<div>
    <div class="col">
      <label>Izaberite poslovnu godinu: </label>
      <select  [(ngModel)]="godina" name="pg" #pg="ngModel" (ngModelChange)="changeGodina()">
      <option *ngFor="let god of godine" [ngValue]="+god.id">{{god.godina}}</option>
      </select><br>
    </div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
</div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      
     <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>
    
      <!-- Progress Column -->
      <ng-container matColumnDef="brojFakture">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Broj Fakture </th>
        <td mat-cell *matCellDef="let row"> {{row.brojFakture}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="datumFakture">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Datum Fakture </th>
        <td mat-cell *matCellDef="let row"> {{row.datumFakture}} </td>
      </ng-container>
  
      
  
  
      <!-- Color Column -->
      <ng-container matColumnDef="datumValute">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Datum Valute </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.datumValute}} </td>
      </ng-container>
  
      <ng-container matColumnDef="ukupanRabat">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ukupan Rabat </th>
        <td mat-cell *matCellDef="let row"> {{row.ukupanRabat}} </td>
      </ng-container>
  
      <ng-container matColumnDef="bezPDV">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Bez PDV </th>
        <td mat-cell *matCellDef="let row"> {{row.bezPDV}} </td>
      </ng-container>
      
      <!-- Progress Column -->
      
  
      <!-- Name Column -->
      <ng-container matColumnDef="ukupanPorez">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ukupan Porez </th>
        <td mat-cell *matCellDef="let row"> {{row.ukupanPorez}} </td>
      </ng-container>
  
      
  
  
      <ng-container matColumnDef="iznosFakture">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ukupan Iznos </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.iznosFakture}} </td>
      </ng-container>

      <ng-container matColumnDef="dugmici">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Akcije </th>
          <td mat-cell *matCellDef="let row; let i = index" [style.color]="row.color">
             <a class="btn btn-info"
             href="{{getIzvestaj(i)}}"
             download="report.pdf">
               Preuzmi izvestaj
           </a>&nbsp;
           <a class="btn btn-info"
             href="{{getXML(i)}}"
             download="faktura.xml">
               Preuzmi xml
           </a>
          </td>
        </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns">
      </tr>
      
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  
</div>




