<div class="divbody">

  
<div class="container color-dark">
  <div class="col">
    <h2>Grupa proizvoda</h2>
  </div>
 
</div>
<div class="container color-light">
  <div class="col">
    <p class="sm">Dodavanje grupe proizvoda.</p>

    <form>

       <mat-form-field class="matf">
    <input matInput placeholder="Naziv" name="naziv">
      </mat-form-field>

      <mat-form-field class="matf">
    <input matInput placeholder="Opis" name="skracenica">
      </mat-form-field>

      <mat-form-field>
  <mat-select placeholder="Birajte PDV">
    <mat-option>
      1
    </mat-option>
    <mat-option>
      2
    </mat-option>
    <mat-option>
      3
    </mat-option>
  </mat-select>
</mat-form-field>

      
      <div class="form-group">
        <input type="submit" class="btn" value="Submit">
      </div>
    </form>
  </div>


</div>


</div>