<div class="divbody">

  
<div class="container color-dark">
  <div class="col">
    <h2>Jedinica mere</h2>
  </div>
 
</div>
<div class="container color-light">
  <div class="col">
    <p class="sm">Dodavanje jedinice mere.</p>

    <form name="form" (ngSubmit)="addForm.form.valid && addJM()" class="register-form" #addForm="ngForm">

       <mat-form-field class="matf" [ngClass]="{ 'has-error': addForm.submitted && !naziv.valid }">
    <input matInput placeholder="Naziv" name="naziv" [(ngModel)]="jedinicaMere.naziv" #naziv="ngModel">
      </mat-form-field>

      <mat-form-field class="matf" [ngClass]="{ 'has-error': addForm.submitted && !skracenica.valid }">
    <input matInput placeholder="Skracenica" name="skracenica" [(ngModel)]="jedinicaMere.skracenica" #skracenica="ngModel">
      </mat-form-field>
      
      <div class="form-group">
        <input type="submit" class="btn" value="Submit">
      </div>
    </form>
  </div>


</div>


</div>