<div class="divbody">

  
<div class="container color-dark">
  <div class="col">
    <h2>Cenovnik</h2>
  </div>
 
</div>
<div class="container color-light">
  <div class="col">
    <p class="sm">Dodavanje cenovnika.</p>

    <form>

      <div class="form-group">
				<label for="fromDateInput">Datum vazenja:</label>
				<input type="date"
					id="fromDateInput"
					class="form-control"
          [(ngModel)]="datum" name="pg1" #pg1="ngModel"
					required
					autofocus/>
			</div>
<br>
<br>

<button mat-raised-button (click)="addCenovnik()">
  <i class="fas fa-plus-circle">Dodaj</i></button><br><br>
    </form>
  </div>


</div>


</div>
