<!--The content below is only a placeholder and can be replaced.-->
<div class="divbody">


<div>
<button mat-raised-button (click)="toggleUnos()">
<i class="fas fa-plus-circle">Unesite narudzbinu</i></button><br><br> 
<div *ngIf="unos">
<label>Izaberite poslovnog partnera: </label>
<select  [(ngModel)]="narudzbenica.idPoslovnogPartnera" name="pp" #pp="ngModel">
    <option *ngFor="let partner of partneri" [ngValue]="partner.id">{{partner.naziv}}</option>
  </select><br>
  <button mat-raised-button (click)="naruci()">
      <i class="fas fa-plus-circle">Naruci</i></button><br><br> 
</div>
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
</div>


<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    
   <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>
  
    <!-- Progress Column -->
    <ng-container matColumnDef="Proizvod">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Proizvod </th>
      <td mat-cell *matCellDef="let row"> {{row.proizvod.nazivProizvoda}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Grupa proizvoda">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Grupa proizvoda </th>
      <td mat-cell *matCellDef="let row"> {{row.proizvod.grupaProizvod.naziv}} </td>
    </ng-container>

    


    <!-- Color Column -->
    <ng-container matColumnDef="Jedinica Mere">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Jedinica mere </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.proizvod.jedinicaMere.naziv}} </td>
    </ng-container>

    <ng-container matColumnDef="Cena">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cena </th>
      <td mat-cell *matCellDef="let row"> {{row.cena}} </td>
    </ng-container>

    <ng-container matColumnDef="Preduzece">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Preduzece </th>
      <td mat-cell *matCellDef="let row"> {{row.proizvod.preduzece.nazivPreduzeca}} </td>
    </ng-container>
    
    <!-- Progress Column -->
    

    <!-- Name Column -->
    <ng-container matColumnDef="Stopa PDV">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Stopa PDV </th>
      <td mat-cell *matCellDef="let row"> {{row.stopaPDV}} </td>
    </ng-container>

    


    <ng-container matColumnDef="PDV">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> PDV </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.pdv}} </td>
    </ng-container>

    <ng-container matColumnDef="Kolicina" *ngIf="unos">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Kolicina </th>
      <td mat-cell *matCellDef="let row; let i = index" [style.color]="row.color"> <input type="number" [(ngModel)]="stavkeOut[i].kolicina" name="kolicina" #kolicina="ngModel"> </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns">
    </tr>
    
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>




</div>





